/* TODO */
a
{
    text-decoration:none;
    outline: none;
}
.b-page
{
    background: url("../img/castle.png");
    -moz-background-size: 100%;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-size: 100%;
}
.b-header
{
    width: 70%;
    color:white;
    text-align: center;
    height : 15%;
    margin-left: 15%;
    margin-right: 15%;
    font-size:5.5vh ;
}
.b-scoreboard, .b-login,.b-game, .b-registration, .b-main
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.b-main__menu-elem
{
    background-color: rgba(60, 63, 65, 0.23);
    width: 50%;
    color: rgba(230, 248, 255, 1);
    border-color: #f1ffe6;
    border: medium;
    border-style: solid;
    height : 20%;
    text-align: center;
    font-size:5vw;
    border-radius:4vh;
    vertical-align: middle;
    overflow:hidden;
    line-height: 16vh;
    font-style: normal;
}
.b-main__menu-elem:hover
{
    cursor: pointer;
    background-color: rgba(68, 85, 136, 0.31);
}
.b-main__menu-elem_position
{
    margin-left:25%;
    margin-right: 25%;
    margin-top: 1%;
}
.b-scoreboard__elem
{
    background-color: rgba(60, 63, 65, 0.23);
    color: rgba(230, 248, 255, 1);
    border-color: #f1ffe6;
    border: medium;
    border-style: solid;
    height : 20%;
    text-align: center;
    font-size:5vh;
    vertical-align: middle;
    overflow:hidden;
}
.b-scoreboard__table
{
    width: 80%;
}
.b-scoreboard__table_position
{
    left: 10%;
    right: 10%;
    position: absolute;
}
.b-login-form
{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height:70%;
}
.b-login-form__input
{
    background-color: rgba(60, 63, 65, 0.23);
    color: rgba(230, 248, 255, 1);
    width: 80%;
    height:15%;
    font-size: 7vh;
    border-radius:20px;
    text-align: center;
}
.b-login-form__input_position{
    margin-left: 10%;
    margin-right: 10%;;
    margin-top:2%;
}
.b-signup-form__input
{
    background-color: rgba(60, 63, 65, 0.23);
    color: rgba(230, 248, 255, 1);
    width: 80%;
    height:10%;
    font-size: 7vh;
    border-radius:0.1vh;
}
.b-signup-form__input_position
{
    margin-left: 10%;
    margin-right: 10%;;
    margin-top:1%;
}
.b-game__canvas
{
    border-color: #E9DC51;
    border-style: solid;
    border-width: 2px;
    padding-left: 0;
    padding-right: 0;
    width:90%;
    top:10%;
    left:5%;
    right:5%;
    position:absolute;
    display: block;
}
.b-error-block
{
    margin-top:2%;
    min-height: 100px;
    width:30vw;
    height:16vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    visibility: hidden;
    font-size: 5vh;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 8px;
    text-align: center;

}
.b-login-form__submit, .b-signup-form__submit
{
    outline:0;
    height:15%;
    font-size: 7vh;
    width: 80%;
    background-color: rgba(80,200,120, 0.4);
    border-radius:20px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#FFFFFF;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.b-login-form__submit_margin, .b-signup-form__submit_margin{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:3%;
}
.b-login-form__submit:hover, .b-signup-form__submit:hover
{
    background-color:rgba(92,191,42, 0.4);
}
.b-back
{
    float: left;
}