.b-main-menu{
  margin-left:25%;
  margin-right: 25%;
  width: 50%;
  &__elem{
    background-color: rgba(60, 63, 65, 0.23);
    width: 100%;
    color: rgba(230, 248, 255, 1);
    margin-top: 1%;
    border-color: #f1ffe6;
    border: medium;
    border-style: solid;
    height : 20%;
    text-align: center;
    font-size:5vw;
    border-radius:4vh;
    vertical-align: middle;
    overflow:hidden;
    line-height: 16vh;
    font-style: normal;
    &:hover{
      cursor: pointer;
      background-color: rgba(68, 85, 136, 0.31);
    }
  }
}
